<%- include("partials/header") %> 

<div>
    <h1>When logging in, You are able to:</h1>
    <br>
    <p class="app-features">View your own To-do-list.</p>
    <p class="app-features">Add and Remove Items into and from Database.</p>
    <p class="app-features">Get a Fully responsive website Compatible on any screen ex: Desktop, mobile and tablet.</p>
    <p class="app-features">More features are coming soon!</p>
    <h4>Please Check my <a href="/profile">Profile-page</a></h4>
    <br>
    <br>
</div>


<%- include("partials/footer") %> 
