<%- include("partials/header") %> 
<h1>The Following Website was created using</h1>
<br>


<section id="features">
    <div class="row">
      <div class="feature-box col-lg-4 col-md-12">
        <i class="fa-brands fa-node-js fa-7x" style="color: #04aa6d;"></i></i>
        <h3>Back-end: node.js</h3>
        <p>The framework Express.js is used for Node.js</p>
      </div>

      <div class="feature-box col-lg-4 col-md-12">
        <i class="fa-brands fa-bootstrap fa-7x" style="color: #820af8;"></i>
        <h3>front-end: bootstrap</h3>
        <p>The Following app developed with the help of Bootstrap</p>
      </div>

      <div class="feature-box col-lg-4 col-md-12">
        <img class="external-image" src="https://www.opc-router.de/wp-content/uploads/2021/03/mongodb_thumbnail.png" alt="MongoDB">
        <h3>Database: MongoDB</h3>
        <p>The framework Mongoose is used for MongoDB </p>
      </div>
    </div>
      <h3>If you wanna know what this website offers head to<a href="/features"> features.</a></h3>

    <div>

    </div>

  </section>


  

  

<%- include("partials/footer") %> 