<%- include("partials/header") %> 



<div class="row">
    <div class="feature-box col-lg-4 col-md-12">
        <a href="https://imgbox.com/dqdA6iMG" target="_blank"><img style="margin: auto;"  src="https://thumbs2.imgbox.com/c6/b7/dqdA6iMG_t.jpg" alt="image host"/></a>
      <h3>Full-stack software developer</h3>
      <p>Bachelor of Science in Computer Engineering</p>
    </div>

    <div class="feature-box col-lg-3 col-md-12 career-objective">
        <br>
        <h1>Career Objective:</h1>
        <p>A motivated individual with in-depth knowledge of languages and development tools, seeking a position in a growth-oriented company where I can use my skills to the advantage of the company while having the scope to develop my own skills.</p>
        <br>
        <h2>skills:</h2>
        <p>Java, JavaScript, JQuery, Node.js, Express.js, React.js, HTML, CSS, Bootstrap, PHP, MySQL,MongoDB, Mongoose, Git & GitHub, Python, VHDL, C, Android Studio.</p>
        <br>
        <h6>Why I chose this Logo?</h6>
        <p>Becouse I love Pits! <i class="fa-solid fa-shield-dog fa-2x"></i></p>
        <br>
        <br>
    </div>
</div>

<%- include("partials/footer") %> 